
body {
  font-family: Helvetica, Calibri, Arial, sans-serif;
}


.landing-page {
  background-image: url("../img/giya-hero.jpg");
  background-size: cover;
  background-position: center;

  font-family: Helvetica, Calibri, Arial, sans-serif;
  color: #FFF;
}

.page-content {
  width: 80%;
  height: 100vh;
  display: table;
  margin: 0 auto;
  padding-top: 11%;
}

.page-content .submit-button {
  width: 300px;
  padding-left: 50px;
  padding-right: 50px;
  display: table;
  margin: 0 auto;

  color: #FFF;
  font-size: 11.5pt;
  letter-spacing: .5px;
  text-align: center;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-weight: lighter;

}

.page-content h1 {
  color: #FFF;
  font-size: 24pt;
  text-align: center;
  margin-top: 20px;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-weight: lighter;
}

.logo-main {
  display: table;
  margin: 0 auto;
}

.login-menu {
  padding-top: 125px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: #4d4d4d;
  color: #FFF !important;
}

.login-menu:hover {
  background-color: #797878;
}

.giya-head {
  background-image: url("../img/banig.jpg");
  background-repeat: repeat;
  background-color: #d5dc21;

  padding-bottom: 50px;
  padding-top: 20px;
}

.giya-logo-2 {
  position: absolute;
  top: 32px;
}

.submit-button {
  width: 100%;
  display: table;
  margin: 0 auto;

  background: #ba4927;
  border: 1px solid #ba4927;
  color: #FFF;
  font-size: 10pt;
  letter-spacing: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #c64822;
  border: 1px solid #c64822;

}


.submit-button-home {

  width: 100%;
  background: #ba4927;
  border: 1px solid #ba4927;
  color: #FFF;
  font-size: 10pt;
  letter-spacing: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.submit-button-home:hover {
  background-color: #c64822;
  border: 1px solid #c64822;

}

.giya-head select {
  width: 100%;
  display: table;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.select-up {
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}

.search-up {
  margin-top: 30px;
}

.giya-up {
  padding-bottom: 20px !important;
}

.giya-head .main-logo {
  display: table;
  margin: 0 auto;
  margin-top: 7%;
}

.giya-head h1 {
  color: #8d8c35;
  font-size: 24pt;
  text-align: center;
  margin-top: 20px;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-weight: lighter;
  margin-bottom: 35px;
}

.login-body {
  padding-top: 15%;
  padding-bottom: 20%;
  height: 100vh;
/*  background-image: url("../img/banig.jpg");
  background-repeat: repeat;
  background-color: #d5dc21;*/
}

.form-body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-body h2{
  font-size: 14pt;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.explore-body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.explore-body h2 {
  font-family: Helvetica, Calibri, Arial, sans-serif;
  color: #6d6e2e;
  text-align: center;
  font-size: 28pt;


}



.explore-body h3 {
  color: #4d4d4d;
  text-align: center;
  font-size: 18pt;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-weight: lighter;
  margin-bottom: 30px;
}



.explore-body .attraction-box-1 {
  width: 345px;
  height: 230px;

  display: table;
  margin: 0 auto;

  margin-top: 35px;

  background-image: url("../img/attraction/bolinao.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fefefe;

}

.explore-body .attraction-box{
  width: 100%;
  display: table;
  margin: 0 auto;
  margin-top: -10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fefefe;
  padding-bottom: 120px;

}


.bolinao {
  background-image: url("../img/attraction/bolinao.jpg");
}

.batad {
  background-image: url("../img/attraction/batad.jpg");
}

.lakesebu {
  background-image: url("../img/attraction/lakesebu.jpg");
}

.elnido {
  background-image: url("../img/attraction/elnido.jpg");
}

.angono {
  background-image: url("../img/attraction/angono.jpg");
}

.bantayan {
  background-image: url("../img/attraction/bantayan.jpg");
}

.malapascua {
  background-image: url("../img/attraction/malapascua.jpg");
}

.sanvicente {
  background-image: url("../img/attraction/sanvicente.jpg");
}

.buscalan {
  background-image: url("../img/attraction/buscalan.jpg");
}

.alaminos {
  background-image: url("../img/attraction/alaminos.jpg");
}

.osmena {
  background-image: url("../img/attraction/osmena.jpg");
}


.attraction-box h1 {
  color: #FFF;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: center;
  font-size: 21pt;
  line-height: 0;
  margin-top: 35px;
  margin-bottom: 12px;
}

.attraction-box h2 {
  color: #FFF;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: center;
  font-size: 11pt;
}

.success-message {
  background-color: #e8eb90;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: center;
}

.warning-message {
  background-color: #e48076;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: center;
}

.display-nothing {
  display: none;
}

.footer-giya {
  background-image: url("../img/banig.jpg");
  background-repeat: repeat;
  background-color: #d5dc21;

  padding-top: 15px;
  padding-bottom: 15px;

  color: #4d4d4d;
}

.footer-links {
  list-style-type: none;
  text-align: right;
  margin-bottom: 0;
  margin-top: -25px;
}

.footer-links li{
  display: inline;
  color: #4d4d4d;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-links li a{
  display: inline;
  color: #4d4d4d;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: none;
}

.footer-links li a:hover{
  text-decoration: underline;
}

.local-ad {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5faf4;
  margin-bottom: 20px;
}

.local-ad h1 {
  font-family: Helvetica, Calibri, Arial, sans-serif;
  color: #6d6e2e;
  text-align: center;
  font-size: 28pt;
}

.local-ad h2 {
  color: #4d4d4d;
  text-align: center;
  font-size: 18pt;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-weight: lighter;
}

.local-ad .submit-button-home {
  text-align: center !important;
  width: 165px;
  display: block;
}

.local-ad .submit-button-home:hover {
  color: #FFF !important;
}

.local-ad .cta-buttons {
  display: table;
  margin: 0 auto;
  margin-top: -15px;
  margin-bottom: -15px;
}

.local-ad table {
  background: none !important;
  border: 0 !important;
}

.result-link {
  list-style-type: none;
  text-align: left;
  margin-top: 20px;
}

.result-link li{
  display: inline;
  color: #c8c8c8;
  padding-left: 5px;
  padding-right: 5px;
}

.result-body .result-box {
  width: 100%;
  display: table;
  margin: 0 auto;
  margin-top: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fefefe;
  padding-bottom: 120px;
}

.result-body .result-box h1 {
  color: #FFF;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: center;
  font-size: 14pt;
  line-height: 0;
  margin-top: 35px;
  margin-bottom: 12px;
}

.result-body .result-box h2 {
  color: #FFF;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: center;
  font-size: 11pt;
  margin-left: 10px;
}


.label-row {
  position: relative;
}

.label-row-inside {
  position: absolute;
  bottom: 10px;

  width: 100%;
  display: table;
  margin: 0 auto;
}



.label-row-inside h1 {
  color: #FFF;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: left;
  font-size: 14pt;

  position: absolute;
  bottom: -10px;
  left: 10px;
}

.label-row-inside h2 {
  color: #FFF;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: left;
  font-size: 11pt;

  position: absolute;
  bottom: -7px;
  right: 10px;
}

.label-row-inside .cat-icon {
  position: absolute;
  bottom: 165px;
  left: 10px;
  width: 20px;
}

.map-marker {
  height: 25px;
}

.paging-links {
  list-style-type: none;
  text-align: center;
  margin-bottom: 10px;
}

.paging-links li{
  display: inline;
  color: #4d4d4d;
  padding-left: 5px;
  padding-right: 5px;
}

.paging-links li a{
  display: inline;
  color: #4d4d4d;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: underline;
}

.paging-links li a:hover{
  text-decoration: none;
}

.img-destination {
  height: 280px;
  width:100%;
  margin-bottom: 30px;
}

.text-desc {
  color: #acacac;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: left;
  font-size: 13.5pt;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 20px;
}

.guide-box {
  background-color: #FFF;
  border: 3px solid #ebf0ea;
}

.guide-tbl {
  background: transparent !important;
  border: 0 !important;
  margin-bottom: 0 !important;
}

.guide-img {
  display: table;
  margin: 0 auto;
  max-width: 50%;
}


.guide-profile {
  margin: 50px auto;
  display: table;
  margin-bottom: 70px;

  background-color: #FFF;
  border: 3px solid #ebf0ea;
  padding: 10px;

}

.guide-profile h2 {
  text-align: center;
  margin-top: -10px;
}

.guide-profile h1 {
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: left;
  font-size: 19pt;
  font-weight: 400;
  color: #525252;
  text-transform: capitalize;
  margin-top: 10px;
}

.guide-profile h3 {
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: left;
  font-size: 10pt;
  font-weight: 300;
  color: #bcbcbc;
  text-transform: capitalize;
  margin-top: -5px;
}

.guide-profile h4 {
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: left;
  font-size: 12pt;
  font-weight: 400;
  color: #525252;
  text-transform: capitalize;
  margin-top: 30px;

}

.guide-profile h4 span{
  color: #c3431e;
  font-size: 10.5pt;
  margin-bottom: 20px;
  font-weight: 700;
}

.marker-profile {
  height: 17px;
  margin-right: 7px;
}


.border-right {
  border-right: 1px solid #ebf0ea;
}


.guide-fee {

  margin-top: 30px;
  margin-right: 10px;

  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: right;
  font-size: 11pt;
  font-weight: 400;
  color: #525252;
}

.price-pax {
  background-color: #d3db3a;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 13pt;
  font-weight: 700;
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
}

.price-text{
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: right;
  font-size: 9pt;
  font-weight: 300;
  color: #c6c6c6;
  font-style: italic;
}

.heart-count {
  font-size: 9pt;
  color: #c6c6c6;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}
.heart-img {
  height: 20px;
  vertical-align: middle;
  margin-left: 3px;
}

.heart-img-2 {
  height: 20px;
  margin-right: 8px;
  margin-top: 10px;
}

.phone-tab {
  background-color: #4d4d4d;
  color: #FFF;

  padding-top: 10px;
  padding-bottom: 10px;
  width: 70%;

  margin: 0 auto;
  display: table;

  font-size: 11.5pt;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;


}


.phone-tab img{
  margin-right: 10px;
  height: 18px;
  margin-top: -2px;
}

.fb-tab {
  background-color: #3c5a9a;
  color: #FFF;

  padding-top: 10px;
  padding-bottom: 10px;
  width: 70%;

  margin: 4px auto;
  display: table;

  font-size: 11pt;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
  text-align: center;

}

.guide-price {
  color: #000;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #d3df35;
}

.guide-link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #999;
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: #FFF;
  font-size: 10pt;
  letter-spacing: 1px;
}

.guide-box h1{
  color: #4f4f4f;
  font-size: 14pt;
  text-transform: capitalize;
  text-align: left;
  margin-left: -10px;
  font-weight: 400;
}

.guide-box h2{
  color: #4d4d4d;
  font-size: 10.5pt;
  font-weight: 300;
}

.guide-box h3{
  color: #4d4d4d;
  font-size: 11pt;
  font-weight: normal;
}

.guide-box h3 span{
  color: #4d4d4d;
  font-size: 11pt;
  font-weight: bold;
}

.fb-link {
  color: #fff;
  font-size: 10pt;
  font-weight: normal;
  background-color: #3b5995;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.about-body {
  background-image: url("../img/about-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
}

.content-about {
  padding-top: 90px;
  padding-bottom: 140px;
  height: 100%;
}

.content-about h1{
  color: #FFF;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: center;
  font-size: 28pt;
  margin-bottom: 80px;
}

.content-about h2{
  color: #d5dc21;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: center;
  font-size: 24pt;
  margin-bottom: 30px;
}

.content-about h3{
  color: #FFF;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: center;
  font-size: 14pt;
  margin-bottom: 30px;
  font-weight: 300;
}

.overlay-content {
    position: relative;
  }

  .overlay-content:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: none;
    z-index:0;
     background-color: rgba(85, 83, 32, 0.70);
    display: block;
  }

.overlay-content-2 {
    position: relative;
  }

  .overlay-content-2:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: none;
    z-index:0;
     background-color: rgba(12, 49, 58, 0.70);
    display: block;
  }

.contact-body {
  background-image: url("../img/contact-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;

}

.content-contact {
  padding-top: 120px;
  padding-bottom: 160px;
  height: 100%;
}

.content-contact h1{
  color: #FFF;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  text-align: center;
  font-size: 28pt;
  margin-bottom: 80px;
}

.contact-list {
  list-style-type: none;
  text-align: left;
  margin-bottom: 10px;
  display: table;
  margin: 0 auto;

}

.contact-list li{
  color: #FFF;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 20px;
}

.contact-list li img{
  margin-right: 10px;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}




#page {
}

#content {
  clear: both;
}

nav a {
  color: #56541c;
}

nav a:hover {
  color: #fff;
  text-decoration: none;
}

/* Important stuff */
ul.menu {
  padding: 0;
}
ul.menu li {
  list-style-type: none;
  display: block;
  float: right;
  background: none;
  margin: 0;
  padding: 0 0;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Fixes Firefox bug */
  box-sizing: border-box;
  width: auto;
  text-align: center;
}
ul.menu li:hover {
}

a.open-panel, a.close-panel {
  display: none;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .page-content .submit-button {
    width: 300px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 40em) {
  .guide-profile {
    border: 0 !important;
    margin-top: 10px;
  }

  .border-right {
    border: 0 !important;
  }

  .page-content {
    width: 90%;
    padding-top: 25%;
  }

  .logo-main {
    width: 70%;
  }

  .page-content h1{
    font-size: 16pt;
  }

  .page-content .submit-button {
    width: 240px;
    padding-left: 10px;
    padding-right: 10px;
  }


}

@media only screen and (max-width: 55em) {
  #content {
    padding-top: 0;
  }

  .local-ad .submit-button-home {
    text-align: center !important;
    width: 125px;
    display: block;
  }

  .icon-remove-sign {
    margin-left: -20px;
  }

  .home-logo {
    display: none !important;
  }

  .giya-head h1 {
    font-size: 18pt;
  }

  .explore-body h3 {
    font-size: 12pt;
  }

  .label-row-inside .cat-icon {
    bottom: 150px;
  }

  .giya-logo-2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 130px;
    top: 20px;
  }

  .login-menu {
    padding-top: 125px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 35px;
    background-color: transparent;
    color: #FFF !important;
  }

  .login-menu:hover {
    background-color: transparent;
  }

  .img-destination {
    height: 200px;
  }

  .text-desc {
    margin-top: -10px;
    text-align: center;
    font-size: 11pt;
  }

  /* Move nav off screen, setup transitions */
  nav {
    width: 70%;
    position: absolute;
    left: -70%;
    top: 0;
    height: 100%;
    background: #56541C;
  }

  nav a {
    color: #FFF;
  }

  /* Display nav items vertically */
  ul.menu {
    border-top: 0 !important;
    margin-top: 10px !important;
  }
  ul.menu li {
    float: none;
    width: 100%;
    text-align: left;
    padding: .5em 1em;
    box-sizing: border-box;
    border-bottom: 1px solid #888;
  }

  /* Reveal open/close buttons */
  a.open-panel, a.close-panel {
    display: inline;
    color: #6B6722;
    padding-left: 20px;
  }

  .close-panel {
    position: relative;
    top: .5em;
    left: 1em;
  }

  .openNav #page {
    left: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    -ms-transform: translate3d(70%, 0, 0);
    -o-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }

  /* When the panel is closed, transition the page back to the left */
  #page {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
}
